html, body {
  height: 100%;
  /*background-color: #F1F1F1;*/
}

#container {
  max-width: 870px;
  min-height: 100%;
  padding: 15px 30px;
  margin: 0 auto;
  // background-color: #F1F1F1;

  .jumbotron {
    border-radius: 15px;
  }
}

@import 'image_list';
