html, body {
  height: 100%;
  background-color: #EEEEEE;
}

$header-height: 140px;
$footer-height: 100px;

#container {
  max-width: 870px;
  min-height: 100%;
  margin: 0 auto;

  header, section, footer {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  header {
    height: $header-height;
    top: 0;
    padding: 30px;

    h1 {
      font-size: 42px;
      float: left;
    }

    .nav-pills {
      float: right;

      .settings a {
        font-size: 20px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }


    h1, .nav-pills {
      margin-top: 20px;
    }

    p {
      clear: both;
      font-size: 20px;
      font-weight: 200;
    }
  }

  section {
    top: $header-height;
    bottom: 0;
    margin: 20px 53px;
  }

  footer {
    height: $footer-height;
    bottom: 0;
  }

  #slide-show {
    ul {
      position: absolute;
      top: 0;
      bottom: $footer-height;
      min-height: 192px;
      overflow-y: scroll;
      padding: 0;

      li {
        list-style: none;
        background-color: #000;
        width: 122px;
        height: 122px;
        margin: 5px;
        padding: 5px;
        float: left;
        border-radius: 50%;
        color: #FFF;
        font-size: 48px;
        line-height: 100px;
        text-align: center;

        &.sortable-placeholder {
          border: 1px dashed #888;
          background-color: transparent;
        }

        &.done-true {
          img {
            display: inherit;
          }
        }

        img {
          display: none;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

    }

  }

  #video {
    button, .progress {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 5% auto;
      right: 0;
      left: 0;
      z-index: 100;
    }

    button {
      width: 200px;
      height: 59px;
    }

    .progress {
      width: 500px;
    }

    canvas {
      width: 300px;
      height: 300px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 20% auto 0;
      right: 0;
      left: 0;
    }
  }

}
