<!DOCTYPE html>
<html ng-app="bikeWheel" ng-csp>
  <head>
    <meta charset="utf-8">
    <link href="vendor/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/app.css">

    <script src="vendor/javascripts/jquery-2.0.3.js"></script>
    <script src="vendor/javascripts/jquery.sortable.js"></script>
    <script src="vendor/javascripts/angular.js"></script>

    <script src="dist/app.js"></script>

    <script src="vendor/javascripts/htmlSortable.js"></script>

  </head>
  <body>
    <div id="container" ng-controller="ImageCtrl">

      <div class="jumbotron">
        <div class="container">
          <h1>Bike Light!</h1>

          <p>
            Drag images onto the window to add images to your bike wheel.
          </p>

          <ul id="items" html-sortable="" ng-model="images">
            <li ng-repeat="image in images" class="done-{{image.done}}" title="{{image.name}}" data-id="{{image.id}}">
              <img ng-src="{{image.url}}"/>
            </li>
          </ul>

          <p class="text-center">
            <button type="button" class="btn btn-primary btn-lg" ng-click="writeDiskImage()">
              <span class="glyphicon glyphicon-download"></span>
              Download
            </button>
          </p>

        </div>
      </div>
    </div>
  </body>
</html>
