<!DOCTYPE html>
<html ng-app="bikeWheel">
  <head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dist/app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="dist/app.js"></script>
  </head>
  <body>
    <div id="container" ng-controller="ImageCtrl">

      <div class="jumbotron">
        <div class="container">
          <h1>Bike Light!</h1>

          <p>
            Drag images onto the page to add images to you bike wheel.
          </p>

          <ul id="items" html-sortable="" ng-model="images">
            <li ng-repeat="image in images" class="done-{{image.done}}" title="{{image.name}}" data-id="{{image.id}}">
              <img ng-src="{{image.url}}"/>
            </li>
          </ul>

          <p class="text-center">
            <button type="button" class="btn btn-primary btn-lg" ng-click="writeDiskImage()">
              <span class="glyphicon glyphicon-download"></span>
              Download
            </button>
          </p>

        </div>
      </div>
    </div>
  </body>
</html>
